# In progress; currently cleaning up DFs for logistic regression

In [89]:
import numpy as np
import pandas as pd
import os

In [90]:
NFL_Data = pd.read_csv('thirdDown.csv')

In [91]:
NFL_Data.head()

,Unnamed: 0,play_id,game_id,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,down,pass_length,pass_length.1,run_location,score_differential,fg_prob,td_prob,ep,third_down_converted
0,0,190,2018090600,1,0,10,39.0,pass,1681.0,3.0,deep,deep,NaN,0.0,0.415009,0.333712,2.250232,1.0
1,1,256,2018090600,1,0,1,1.0,pass,1559.0,3.0,short,short,NaN,0.0,0.204515,0.749825,5.661931,0.0
2,2,344,2018090600,1,0,4,92.0,pass,1464.0,3.0,short,short,NaN,0.0,0.093928,0.213978,-1.832560,0.0
3,3,445,2018090600,1,0,5,39.0,run,1404.0,3.0,NaN,NaN,right,0.0,0.395592,0.377457,2.642543,1.0
4,4,636,2018090600,1,0,3,3.0,pass,1207.0,3.0,short,short,NaN,0.0,0.386222,0.567801,4.926552,0.0

In [92]:
NFL_Data = NFL_Data.drop(columns = ['Unnamed: 0', 'down'])

In [93]:
#run = 1, pass =2
NFL_Data=NFL_Data.replace(['run', 'pass'], 
                     [1, 2])
NFL_Data.head()

,play_id,game_id,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,pass_length,pass_length.1,run_location,score_differential,fg_prob,td_prob,ep,third_down_converted
0,190,2018090600,1,0,10,39.0,2,1681.0,deep,deep,NaN,0.0,0.415009,0.333712,2.250232,1.0
1,256,2018090600,1,0,1,1.0,2,1559.0,short,short,NaN,0.0,0.204515,0.749825,5.661931,0.0
2,344,2018090600,1,0,4,92.0,2,1464.0,short,short,NaN,0.0,0.093928,0.213978,-1.832560,0.0
3,445,2018090600,1,0,5,39.0,1,1404.0,NaN,NaN,right,0.0,0.395592,0.377457,2.642543,1.0
4,636,2018090600,1,0,3,3.0,2,1207.0,short,short,NaN,0.0,0.386222,0.567801,4.926552,0.0

In [94]:
Run_Data = NFL_Data.loc[NFL_Data['play_type'] == 1]

In [95]:
Run_Data.head()

,play_id,game_id,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,pass_length,pass_length.1,run_location,score_differential,fg_prob,td_prob,ep,third_down_converted
3,445,2018090600,1,0,5,39.0,1,1404.0,NaN,NaN,right,0.0,0.395592,0.377457,2.642543,1.0
8,1160,2018090600,1,1,1,22.0,1,613.0,NaN,NaN,left,-3.0,0.415125,0.454985,3.967255,1.0
14,2672,2018090600,0,0,1,54.0,1,1429.0,NaN,NaN,right,-3.0,0.260790,0.458135,2.519950,1.0
19,3460,2018090600,0,0,1,87.0,1,691.0,NaN,NaN,right,4.0,0.097999,0.292759,-0.193396,1.0
22,337,2018090900,0,0,1,11.0,1,1464.0,NaN,NaN,middle,0.0,0.489985,0.442328,4.218395,1.0

In [96]:
Run_Data = Run_Data.drop(columns = ['play_id', 'game_id','pass_length', 'pass_length.1'])

In [97]:
Run_Data.head()

,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,run_location,score_differential,fg_prob,td_prob,ep,third_down_converted
3,1,0,5,39.0,1,1404.0,right,0.0,0.395592,0.377457,2.642543,1.0
8,1,1,1,22.0,1,613.0,left,-3.0,0.415125,0.454985,3.967255,1.0
14,0,0,1,54.0,1,1429.0,right,-3.0,0.260790,0.458135,2.519950,1.0
19,0,0,1,87.0,1,691.0,right,4.0,0.097999,0.292759,-0.193396,1.0
22,0,0,1,11.0,1,1464.0,middle,0.0,0.489985,0.442328,4.218395,1.0

In [98]:
Pass_Data = NFL_Data.loc[NFL_Data['play_type'] == 2]

In [99]:
Pass_Data = Pass_Data.drop(columns = ['play_id', 'game_id', 'run_location'])

In [100]:
# 1 =  right, 2 = middle, 3 = left
Pass_Data = Pass_Data.replace(['right', 'middle', 'left'], 
                     [1, 2, 3])

In [101]:
Pass_Data.head()

,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,pass_length,pass_length.1,score_differential,fg_prob,td_prob,ep,third_down_converted
0,1,0,10,39.0,2,1681.0,deep,deep,0.0,0.415009,0.333712,2.250232,1.0
1,1,0,1,1.0,2,1559.0,short,short,0.0,0.204515,0.749825,5.661931,0.0
2,1,0,4,92.0,2,1464.0,short,short,0.0,0.093928,0.213978,-1.832560,0.0
4,1,0,3,3.0,2,1207.0,short,short,0.0,0.386222,0.567801,4.926552,0.0
5,1,0,12,59.0,2,981.0,NaN,NaN,-3.0,0.272244,0.291378,0.687785,0.0

In [102]:
Pass_Data= Pass_Data.dropna(subset = ['pass_length'])

In [103]:
Pass_Data = Pass_Data.replace(['deep', 'short'],
                 [1, 2])

In [104]:
Pass_Data.head()

,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,pass_length,pass_length.1,score_differential,fg_prob,td_prob,ep,third_down_converted
0,1,0,10,39.0,2,1681.0,1,1,0.0,0.415009,0.333712,2.250232,1.0
1,1,0,1,1.0,2,1559.0,2,2,0.0,0.204515,0.749825,5.661931,0.0
2,1,0,4,92.0,2,1464.0,2,2,0.0,0.093928,0.213978,-1.832560,0.0
4,1,0,3,3.0,2,1207.0,2,2,0.0,0.386222,0.567801,4.926552,0.0
6,1,0,12,82.0,2,900.0,2,2,3.0,0.133984,0.205101,-1.377900,0.0

In [105]:
Pass_Data = Pass_Data.drop(columns = ['pass_length.1'])

In [106]:
Run_Data = Run_Data.dropna(subset = ['run_location'])

In [107]:
Run_Data = Run_Data.replace(['right', 'middle', 'left'],
                           [1, 2, 3])

In [108]:
Run_Data = Run_Data.drop(columns = ['play_type'])

In [109]:
Run_Data.dtypes

shotgun                     int64
no_huddle                   int64
ydstogo                     int64
yardline_100              float64
half_seconds_remaining    float64
run_location                int64
score_differential        float64
fg_prob                   float64
td_prob                   float64
ep                        float64
third_down_converted      float64
dtype: object

In [110]:
Pass_Data = Pass_Data.drop(columns = ['play_type'])
Pass_Data.head()

,shotgun,no_huddle,ydstogo,yardline_100,half_seconds_remaining,pass_length,score_differential,fg_prob,td_prob,ep,third_down_converted
0,1,0,10,39.0,1681.0,1,0.0,0.415009,0.333712,2.250232,1.0
1,1,0,1,1.0,1559.0,2,0.0,0.204515,0.749825,5.661931,0.0
2,1,0,4,92.0,1464.0,2,0.0,0.093928,0.213978,-1.832560,0.0
4,1,0,3,3.0,1207.0,2,0.0,0.386222,0.567801,4.926552,0.0
6,1,0,12,82.0,900.0,2,3.0,0.133984,0.205101,-1.377900,0.0

In [111]:
Run_Data.head()

,shotgun,no_huddle,ydstogo,yardline_100,half_seconds_remaining,run_location,score_differential,fg_prob,td_prob,ep,third_down_converted
3,1,0,5,39.0,1404.0,1,0.0,0.395592,0.377457,2.642543,1.0
8,1,1,1,22.0,613.0,3,-3.0,0.415125,0.454985,3.967255,1.0
14,0,0,1,54.0,1429.0,1,-3.0,0.260790,0.458135,2.519950,1.0
19,0,0,1,87.0,691.0,1,4.0,0.097999,0.292759,-0.193396,1.0
22,0,0,1,11.0,1464.0,2,0.0,0.489985,0.442328,4.218395,1.0

In [119]:
Success_Data = NFL_Data.loc[NFL_Data['third_down_converted'] == 1]

In [120]:
Success_Data.head()

,play_id,game_id,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,pass_length,pass_length.1,run_location,score_differential,fg_prob,td_prob,ep,third_down_converted
0,190,2018090600,1,0,10,39.0,2,1681.0,deep,deep,NaN,0.0,0.415009,0.333712,2.250232,1.0
3,445,2018090600,1,0,5,39.0,1,1404.0,NaN,NaN,right,0.0,0.395592,0.377457,2.642543,1.0
7,1037,2018090600,1,0,7,57.0,2,773.0,short,short,NaN,-3.0,0.269825,0.319773,1.193780,1.0
8,1160,2018090600,1,1,1,22.0,1,613.0,NaN,NaN,left,-3.0,0.415125,0.454985,3.967255,1.0
14,2672,2018090600,0,0,1,54.0,1,1429.0,NaN,NaN,right,-3.0,0.260790,0.458135,2.519950,1.0

In [121]:
Success_Data = Success_Data.drop(columns = ['play_id', 'game_id'])

In [122]:
Success_Data = Success_Data.replace(['deep', 'short'],
                 [1, 2])

In [123]:
Success_Data = Success_Data.replace(['right', 'middle', 'left'], 
                     [1, 2, 3])

In [125]:
Success_Data = Success_Data.drop(columns = ['third_down_converted'])

In [127]:
Success_Data = Success_Data.drop(columns = ['pass_length.1'])

In [128]:
Success_Data.dtypes
Success_Data.head()

,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,pass_length,run_location,score_differential,fg_prob,td_prob,ep
0,1,0,10,39.0,2,1681.0,1.0,NaN,0.0,0.415009,0.333712,2.250232
3,1,0,5,39.0,1,1404.0,NaN,1.0,0.0,0.395592,0.377457,2.642543
7,1,0,7,57.0,2,773.0,2.0,NaN,-3.0,0.269825,0.319773,1.193780
8,1,1,1,22.0,1,613.0,NaN,3.0,-3.0,0.415125,0.454985,3.967255
14,0,0,1,54.0,1,1429.0,NaN,1.0,-3.0,0.260790,0.458135,2.519950

In [ ]:
# DFs are as follows: 
#Success_Data has all info for successful conversions
#Run_Data has all info for run plays only
#Pass_Data has all info for pass plays only

#To Do for Logistic Regression:

In [ ]:
# Need to separate X and y (X is everything but y, y is third_down_converted)
# Need to bring in train_test_split
# Establish runX_test, etc. 
# Make sure the variables are correct

In [ ]:
# Create the logistic regression
# from sklearn.linear_model import LogisticRegression
# classifier = LogisticRegression()
# classifier
# classifier.fit(X_train, y_train)
# print(f"First 10 predictions: {predictions[:10]}")
# print(f"First 10 Actual Labels: {y_test[:10,tolist()]}")
# pd.Dataframe({"Prediction:": predictions, "Actual:": y_test}).reset_index(drop=True)