In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
NFL_Data = pd.read_csv('thirdDown.csv')

In [3]:
NFL_Data.head()

,Unnamed: 0,play_id,game_id,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,down,pass_length,pass_length.1,run_location,score_differential,fg_prob,td_prob,ep,third_down_converted
0,0,190,2018090600,1,0,10,39.0,pass,1681.0,3.0,deep,deep,NaN,0.0,0.415009,0.333712,2.250232,1.0
1,1,256,2018090600,1,0,1,1.0,pass,1559.0,3.0,short,short,NaN,0.0,0.204515,0.749825,5.661931,0.0
2,2,344,2018090600,1,0,4,92.0,pass,1464.0,3.0,short,short,NaN,0.0,0.093928,0.213978,-1.832560,0.0
3,3,445,2018090600,1,0,5,39.0,run,1404.0,3.0,NaN,NaN,right,0.0,0.395592,0.377457,2.642543,1.0
4,4,636,2018090600,1,0,3,3.0,pass,1207.0,3.0,short,short,NaN,0.0,0.386222,0.567801,4.926552,0.0

In [4]:
NFL_Data = NFL_Data.drop(columns = ['Unnamed: 0'])

In [5]:
#run = 1, pass =2
NFL_Data=NFL_Data.replace(['run', 'pass'], 
                     [1, 2])
NFL_Data.head()

,play_id,game_id,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,down,pass_length,pass_length.1,run_location,score_differential,fg_prob,td_prob,ep,third_down_converted
0,190,2018090600,1,0,10,39.0,2,1681.0,3.0,deep,deep,NaN,0.0,0.415009,0.333712,2.250232,1.0
1,256,2018090600,1,0,1,1.0,2,1559.0,3.0,short,short,NaN,0.0,0.204515,0.749825,5.661931,0.0
2,344,2018090600,1,0,4,92.0,2,1464.0,3.0,short,short,NaN,0.0,0.093928,0.213978,-1.832560,0.0
3,445,2018090600,1,0,5,39.0,1,1404.0,3.0,NaN,NaN,right,0.0,0.395592,0.377457,2.642543,1.0
4,636,2018090600,1,0,3,3.0,2,1207.0,3.0,short,short,NaN,0.0,0.386222,0.567801,4.926552,0.0

In [6]:
Run_Data = NFL_Data.drop(columns = ['play_id', 'game_id','pass_length', 'pass_length.1'])

In [7]:
Run_Data.head()

,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,down,run_location,score_differential,fg_prob,td_prob,ep,third_down_converted
0,1,0,10,39.0,2,1681.0,3.0,NaN,0.0,0.415009,0.333712,2.250232,1.0
1,1,0,1,1.0,2,1559.0,3.0,NaN,0.0,0.204515,0.749825,5.661931,0.0
2,1,0,4,92.0,2,1464.0,3.0,NaN,0.0,0.093928,0.213978,-1.832560,0.0
3,1,0,5,39.0,1,1404.0,3.0,right,0.0,0.395592,0.377457,2.642543,1.0
4,1,0,3,3.0,2,1207.0,3.0,NaN,0.0,0.386222,0.567801,4.926552,0.0

In [8]:
Pass_Data = NFL_Data.drop(columns = ['play_id', 'game_id', 'run_location'])

In [9]:
Pass_Data.head()

,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,down,pass_length,pass_length.1,score_differential,fg_prob,td_prob,ep,third_down_converted
0,1,0,10,39.0,2,1681.0,3.0,deep,deep,0.0,0.415009,0.333712,2.250232,1.0
1,1,0,1,1.0,2,1559.0,3.0,short,short,0.0,0.204515,0.749825,5.661931,0.0
2,1,0,4,92.0,2,1464.0,3.0,short,short,0.0,0.093928,0.213978,-1.832560,0.0
3,1,0,5,39.0,1,1404.0,3.0,NaN,NaN,0.0,0.395592,0.377457,2.642543,1.0
4,1,0,3,3.0,2,1207.0,3.0,short,short,0.0,0.386222,0.567801,4.926552,0.0

In [10]:
# 1 =  right, 2 = middle, 3 = left
Pass_Data = Pass_Data.replace(['right', 'middle', 'left'], 
                     [1, 2, 3])

In [11]:
Pass_Data.head()

,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,down,pass_length,pass_length.1,score_differential,fg_prob,td_prob,ep,third_down_converted
0,1,0,10,39.0,2,1681.0,3.0,deep,deep,0.0,0.415009,0.333712,2.250232,1.0
1,1,0,1,1.0,2,1559.0,3.0,short,short,0.0,0.204515,0.749825,5.661931,0.0
2,1,0,4,92.0,2,1464.0,3.0,short,short,0.0,0.093928,0.213978,-1.832560,0.0
3,1,0,5,39.0,1,1404.0,3.0,NaN,NaN,0.0,0.395592,0.377457,2.642543,1.0
4,1,0,3,3.0,2,1207.0,3.0,short,short,0.0,0.386222,0.567801,4.926552,0.0

In [12]:
Pass_Data = Pass_Data.drop(columns = ["pass_length.1"])

In [13]:
Pass_Data = Pass_Data.replace(['deep', 'short'],
                 [1, 2])

In [14]:
Pass_Data.head()

,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,down,pass_length,score_differential,fg_prob,td_prob,ep,third_down_converted
0,1,0,10,39.0,2,1681.0,3.0,1.0,0.0,0.415009,0.333712,2.250232,1.0
1,1,0,1,1.0,2,1559.0,3.0,2.0,0.0,0.204515,0.749825,5.661931,0.0
2,1,0,4,92.0,2,1464.0,3.0,2.0,0.0,0.093928,0.213978,-1.832560,0.0
3,1,0,5,39.0,1,1404.0,3.0,NaN,0.0,0.395592,0.377457,2.642543,1.0
4,1,0,3,3.0,2,1207.0,3.0,2.0,0.0,0.386222,0.567801,4.926552,0.0

In [15]:
Pass_Data= Pass_Data.dropna(subset = ['pass_length'])

In [16]:
Pass_Data.head()

,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,down,pass_length,score_differential,fg_prob,td_prob,ep,third_down_converted
0,1,0,10,39.0,2,1681.0,3.0,1.0,0.0,0.415009,0.333712,2.250232,1.0
1,1,0,1,1.0,2,1559.0,3.0,2.0,0.0,0.204515,0.749825,5.661931,0.0
2,1,0,4,92.0,2,1464.0,3.0,2.0,0.0,0.093928,0.213978,-1.832560,0.0
4,1,0,3,3.0,2,1207.0,3.0,2.0,0.0,0.386222,0.567801,4.926552,0.0
6,1,0,12,82.0,2,900.0,3.0,2.0,3.0,0.133984,0.205101,-1.377900,0.0

In [17]:
Run_Data.head()

,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,down,run_location,score_differential,fg_prob,td_prob,ep,third_down_converted
0,1,0,10,39.0,2,1681.0,3.0,NaN,0.0,0.415009,0.333712,2.250232,1.0
1,1,0,1,1.0,2,1559.0,3.0,NaN,0.0,0.204515,0.749825,5.661931,0.0
2,1,0,4,92.0,2,1464.0,3.0,NaN,0.0,0.093928,0.213978,-1.832560,0.0
3,1,0,5,39.0,1,1404.0,3.0,right,0.0,0.395592,0.377457,2.642543,1.0
4,1,0,3,3.0,2,1207.0,3.0,NaN,0.0,0.386222,0.567801,4.926552,0.0

In [18]:
Run_Data = Run_Data.replace(['right', 'middle', 'left'],
                           [1, 2, 3])

In [19]:
Run_Data.dtypes

shotgun                     int64
no_huddle                   int64
ydstogo                     int64
yardline_100              float64
play_type                   int64
half_seconds_remaining    float64
down                      float64
run_location              float64
score_differential        float64
fg_prob                   float64
td_prob                   float64
ep                        float64
third_down_converted      float64
dtype: object

In [20]:
Pass_Data['pass_length'] = Pass_Data['pass_length'].astype('int')

In [21]:
Pass_Data.head()

,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,down,pass_length,score_differential,fg_prob,td_prob,ep,third_down_converted
0,1,0,10,39.0,2,1681.0,3.0,1,0.0,0.415009,0.333712,2.250232,1.0
1,1,0,1,1.0,2,1559.0,3.0,2,0.0,0.204515,0.749825,5.661931,0.0
2,1,0,4,92.0,2,1464.0,3.0,2,0.0,0.093928,0.213978,-1.832560,0.0
4,1,0,3,3.0,2,1207.0,3.0,2,0.0,0.386222,0.567801,4.926552,0.0
6,1,0,12,82.0,2,900.0,3.0,2,3.0,0.133984,0.205101,-1.377900,0.0

In [22]:
Run_Data.head()

,shotgun,no_huddle,ydstogo,yardline_100,play_type,half_seconds_remaining,down,run_location,score_differential,fg_prob,td_prob,ep,third_down_converted
0,1,0,10,39.0,2,1681.0,3.0,NaN,0.0,0.415009,0.333712,2.250232,1.0
1,1,0,1,1.0,2,1559.0,3.0,NaN,0.0,0.204515,0.749825,5.661931,0.0
2,1,0,4,92.0,2,1464.0,3.0,NaN,0.0,0.093928,0.213978,-1.832560,0.0
3,1,0,5,39.0,1,1404.0,3.0,1.0,0.0,0.395592,0.377457,2.642543,1.0
4,1,0,3,3.0,2,1207.0,3.0,NaN,0.0,0.386222,0.567801,4.926552,0.0

In [ ]:
# Need to separate X and y (X is everything but y, y is third_down_converted)
# Need to bring in train_test_split
# Establish runX_test, etc. 
# Make sure the variables are correct

In [ ]:
# Create the logistic regression
# from sklearn.linear_model import LogisticRegression
# classifier = LogisticRegression()
# classifier
# classifier.fit(X_train, y_train)
# print(f"First 10 predictions: {predictions[:10]}")
# print(f"First 10 Actual Labels: {y_test[:10,tolist()]}")
# pd.Dataframe({"Prediction:": predictions, "Actual:": y_test}).reset_index(drop=True)